@charset "UTF-8";
/* ===================================================================

 contents.css

======================================================================*/

/*----------------------------------------------------------
 base
------------------------------------------------------------*/



/*----------------------------------------------------------
 profile
------------------------------------------------------------*/

.profile-figure {
	width: 300px;
	margin: 0 auto;
}

.profile-figure img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.profile-notes {
	margin-top: 50px;
	font-size: 16px;
}

.profile-detail {
	margin-top: 50px;
}

.profile-detail-btn {

}

.profile-detail-btn li {
	display: inline-block;
	width: 70px;
	margin: 0 20px;
	padding: 25px 0;
	background: #6d92da;
	border-radius: 50%;
	opacity: 0.5;
	cursor: pointer;
}
.profile-detail-btn li:hover,
.profile-detail-btn li.active {
	opacity: 1;
}

.profile-detail-contents {
	position: relative;
	margin-top: 50px;
}

.profile-detail-contents-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.profile-detail-contents-list dt {
	margin-top: 20px;
	font-weight: normal;
	opacity: 0.8;
}
.profile-detail-contents-list dt:first-child {
	margin-top: 0;
}

.profile-detail-contents-list dd {
	font-size: 14px;
}

.profile-detail-contents-list dd small {
	font-size: 12px;
	font-weight: normal;
}


/*----------------------------------------------------------
 contact
------------------------------------------------------------*/

.contact-mail {
	margin-top: 50px;
	letter-spacing: 0.1em;
}

.contact-notes {
	margin-top: 50px;
}

.contact-form {
	margin-top: 50px;
}

.contact-form-list {
	width: 70%;
	margin: 0 auto;
}

.contact-form-list li {
	margin-bottom: 30px;
}

.contact-form-list input,
.contact-form-list textarea {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 500px;
	padding: 5px 10px;
	border: none;
	border-radius: 15px;
}

.contact-form-btn {
	display: inline-block;
	padding: 8px 20px;
	background: #6d92da;
	border-radius: 20px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}
.contact-form-btn:hover {
	opacity: 0.8;
}
