<footer class="footer" id="FooterView">
  <a href="#PageView" class="btn-pagetop js-btnPagetop">TOP</a>
  <aside class="footer-linkList">
    <ul class="js-snsList"></ul>
    <p class="footer-linkList-text js-snsListText"></p>
  </aside>
  <p class="footer-copyright"><small>&copy; Powered by Kim0ran.</small></p>
</footer>
