<footer class="footer">
  <a href="#PageView" class="footer__btn--pagetop">TOP</a>
  <aside class="footer__list--sns">
    <ul>
      <li><a href="#" target="_blank" class="icon--twitter"></a></li>
      <li><a href="#" target="_blank" class="icon--facebook"></a></li>
      <li><a href="#" target="_blank" class="icon--line"></a></li>
      <li><a href="#" target="_blank" class="icon--instagram"></a></li>
      <li><a href="#" target="_blank" class="icon--github"></a></li>
    </ul>
  </aside>
  <p class="footer__copyright"><small>&copy; Powered by name</small></p>
</footer>