<div class="modal" id="ModalView">
  <div class="modal-inner js-modalInner">
    <div class="modal-header">
      <div class="modal-header-btnClose js-modalBtnClose">×</div>
    </div>
    <div class="modal-main js-modalMain"></div>
  </div>
</div><!--/.modal -->
