<% var pageTitle = '', pathPartials = './_partials/'; %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include(pathPartials + 'head', { title: pageTitle }) %>
<link rel="stylesheet" type="text/css" href="/common/css/top.css">
</head>
<body>

<div class="page" id="PageView">

  <header class="header">
    <div class="header__inner">
      <h1>たいとる</h1>
    </div>
  </header>

  <div class="content">
    <main class="main">

      <section class="section concept">
        <div class="section__inner">
          <div class="section__header">
            <h2>CONCEPT</h2>
            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
          </div>
          <div class="section_content">

          </div>
        </div>
      </section>

      <section class="section blog">
        <div class="section__inner">
          <div class="section__header">
            <h2>BLOG</h2>
            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
          </div>
          <div class="section_content">
            <a href="#" class="btn--link">MORE</a>
          </div>
        </div>
      </section>

      <section class="section gallery">
        <div class="section__inner">
          <div class="section__header">
            <h2>GALLERY</h2>
            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
          </div>
          <div class="section_content">
            <a href="#" class="btn--link">MORE</a>
          </div>
        </div>
      </section>

      <section class="section profile">
        <div class="section__inner">
          <div class="section__header">
            <h2>PROFILE</h2>
            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
          </div>
          <div class="section_content">

          </div>
        </div>
      </section>

      <section class="section contact">
        <div class="section__inner">
          <div class="section__header">
            <h2>CONTACT</h2>
            <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
          </div>
          <div class="section_content">

          </div>
        </div>
      </section>

    </main>

    <%- include(pathPartials + 'footer') %>
  </div><!--/.content -->

</div><!--/.page -->

<%- include(pathPartials + 'common_js') %>
<script src="/common/js/top.js"></script>
</body>
</html>
