<% var pageTitle = '', pathPartials = './_partials/'; %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include(pathPartials + 'head', { title: pageTitle }) %>
<link rel="stylesheet" type="text/css" href="/common/css/top.css">
</head>
<body>

<div class="page" id="PageView">

  <header class="header">
    <div class="header__inner">
      <h1>たいとる</h1>
    </div>
  </header>

  <main class="main">

    <section class="section">
      <div class="section__inner">
        <h2>コンテンツ</h2>
        <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
      </div>
    </section>

    <section class="section">
      <div class="section__inner">
        <h2>コンテンツ</h2>
        <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
      </div>
    </section>

    <section class="section">
      <div class="section__inner">
        <h2>コンテンツ</h2>
        <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
      </div>
    </section>

    <section class="section">
      <div class="section__inner">
        <h2>コンテンツ</h2>
        <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
      </div>
    </section>

    <section class="section">
      <div class="section__inner">
        <h2>コンテンツ</h2>
        <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
      </div>
    </section>


  </main>

  <%- include(pathPartials + 'footer') %>

</div><!--/.page -->

<%- include(pathPartials + 'common_js') %>
<script src="/common/js/top.js"></script>
</body>
</html>
