/*----------------------------------------------------------
 layout
------------------------------------------------------------*/

// imagePath
$image-path = "/common/img/";

// media queries
$mq-mobile = "screen and (min-width: 641px)";
