@charset "UTF-8";
/* ===================================================================
 top
======================================================================*/

@import "../../_partial/var/_all";
@import "../../_partial/function/_all";

/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header
  &__inner
    position: relative
    height: 667px
  h1
    position: absolute
    top: 50%
    left: 0
    width: 100%
    margin-top: -25px
    font-size: 50px
    color: #ccc
    text-align: center


/*----------------------------------------------------------
 section
------------------------------------------------------------*/

.section
  background: $color_main
  + .section
    margin-top: 100px
  &__inner
    innerPadding-sp(50px, 50px)
    text-align: center
  h2
    margin-bottom: 40px
    font-size: $font_size_title
    color: $color_white
  p
    color: $color_white
