<section class="section blog" id="BlogView">
  <div class="inner">
    <h2>Blog</h2>
    <ul class="blog_articleList">
      <li>
        <h3>見出しタイトル見出しタイトル見出しタイトル</h3>
        <p>さんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入る</p>
        <div class="blog_articleList__btn--more"><a href="#">more</a></div>
      </li>
      <li>
        <h3>見出しタイトル見出し</h3>
        <p>さんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入る</p>
        <div class="blog_articleList__btn--more"><a href="#">more</a></div>
      </li>
      <li>
        <h3>タイトル見出しタイトル見出しタイトル</h3>
        <p>さんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷる</p>
        <div class="blog_articleList__btn--more"><a href="#">more</a></div>
      </li>
      <li>
        <h3>見出しタイトル</h3>
        <p>さんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るさんぷるテキストさんぷるテキスト入るさんぷるテキスト入る</p>
        <div class="blog_articleList__btn--more"><a href="#">more</a></div>
      </li>
      <li>
        <h3>見出しタイトル見出しタイトル</h3>
        <p>さんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るテキスト入るさんぷるテキスト入る</p>
        <div class="blog_articleList__btn--more"><a href="#">more</a></div>
      </li>
      <li>
        <h3>見出しタイトル見出しタイトル</h3>
        <p>さんぷるテキスト入るさんぷるテキスト入るさんぷるテキスト入るテキスト入るさんぷるテキスト入る</p>
        <div class="blog_articleList__btn--more"><a href="#">more</a></div>
      </li>
    </ul>
    <div class="blog__btn--details"><a href="#">MORE</a></div>
  </div>
</section>
