<section class="section contact" id="ContactView">
  <div class="inner">
    <h2>お問い合わせ</h2>
    <p>ご意見やご感想、その他お問い合わせにつきましては以下のフォームにてお願い致します</p>
    <p class="contact__notes">現在、お仕事の依頼は承っておりません</p>
    <div class="contact_form">
      <ul class="contact_form__list">
        <li><input type="text" name="name" maxlength="100" size="60" value="" placeholder="お名前"></li>
        <li><input type="email" name="mail" maxlength="100" size="60" value="" placeholder="メールアドレス"></li>
        <li><textarea name="message" rows="6" cols="60" placeholder="お問い合わせ内容"></textarea></li>
      </ul>
      <button class="contact_form__btn--confirm">内容を確認する</button>
    </div>
  </div>
</section>
