<section class="section gallery" id="GalleryView">
  <div class="inner">
    <h2>ギャラリー</h2>
    <div class="gallery-carousel js-carousel">
      <div class="gallery-carousel__inner js-carouselInner">
        <ul class="gallery-carousel__list--image js-carouselList">
          <li><img src="/common/img/profile_img.png"></li>
          <li><img src="/common/img/profile_img.png"></li>
          <li><img src="/common/img/profile_img.png"></li>
          <li><img src="/common/img/profile_img.png"></li>
          <li><img src="/common/img/profile_img.png"></li>
        </ul>
      </div>
      <p class="gallery-carousel__btn gallery-carousel__btn--prev js-carouselBtnPrev">前へ</p>
      <p class="gallery-carousel__btn gallery-carousel__btn--next js-carouselBtnNext">次へ</p>
    </div>
  </div>
</section>
