<section class="section profile" id="ProfileView">
  <div class="inner">
    <h2>きもらん</h2>
    <figure class="profile-figure"><img src="/common/img/profile_img.png"></figure>
    <p class="profile-notes">
      メインはフロントエンドエンジニア<br>
      ディレクション、ビジュアルデザインの経験もあるユーティリティプレイヤー<br>
      わかりやすく言うと、Webデザイナー<br>
      元グラフィックデザイナー兼イラストレーター<br>
      Excelが大好き
    </p>
    <div class="profile-detail js-switchView">
      <ul class="profile-detail-btn js-switchViewNav">
        <li data-id="profile-aaa">仕事</li>
        <li data-id="profile-bbb">個人</li>
        <li data-id="profile-ccc">その他</li>
      </ul>
      <div class="profile-detail-contents js-matchHeight">
        <div class="profile-detail-contents-list js-switchViewContents" id="profile-aaa">
          <dl>
            <dt>Jobs</dt>
            <dd>フロントエンドエンジニア</dd>
            <dt>Skill</dt>
            <dd>
              <ul>
                <li>(X)HTML<small>（HTML4〜5、XHTML1.01）</small></li>
                <li>CSS<small>（Level1〜3）</small></li>
                <li>JavaScript<small>（jQuery、Backbone、Marionette、underscore）</small></li>
                <li>その他<small>（Sass、gulp、Grunt）</small></li>
              </ul>
            </dd>
            <dt>Software</dt>
            <dd>
              <ul>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Microsoft Excel</li>
              </ul>
            </dd>
          </dl>
        </div>
        <div class="profile-detail-contents-list js-switchViewContents" id="profile-bbb">
          <dl>
            <dt>Hobby</dt>
            <dd>DRAGON BALL、ゲーム、ダーツ</dd>
            <dt>Skill</dt>
            <dd>コピー</dd>
            <dt>Personal Color</dt>
            <dd>コバルトブルー</dd>
            <dt>Personal Number</dt>
            <dd>2</dd>
          </dl>
        </div>
        <div class="profile-detail-contents-list js-switchViewContents" id="profile-ccc">
          <dl>
            <dt>Other</dt>
            <dd>なにいれよう</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
